.Input{
    width: 40%;
}

.allinbisetion{
    background-color:#0099ff17;
    border-radius: 20px;
}

.Input_2{
    width: 100px;
    margin: 20px;
}

.in_box{
    margin-left: 20px;
    
}

.Calculate_Button{
    margin-left: 10px;
    
}

.result{
    text-align: left;
    margin-left: 45%;
    font-size: 15px;
}

.Chart{
    text-align: center;
}