.matrix{
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
}
.MakeButton{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.MakeButtons{
    justify-content: center;
}
.button_laout{
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.Text_{
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: center;
}

.Mid{
    justify-content: center;
    text-align: center;
}